  <div class="background-overlay">
  <h1 class="logo">MOVIES</h1>

  <div class="auth-box">
    <!-- Toggle with *ngIf -->
    <h2 *ngIf="isLoginMode">Login</h2>
    <h2 *ngIf="!isLoginMode">Register</h2>

    <form #authForm="ngForm" (ngSubmit)="submit()">
      <!-- Username (only for register) -->
      <div *ngIf="!isLoginMode">
        <label>Username</label>
        <input type="text" name="username" [(ngModel)]="username" placeholder="Enter username" />
      </div>

      <!-- Email -->
      <label>Email</label>
      <input type="email" name="email" [(ngModel)]="email" placeholder="Enter email" required />

      <!-- Password -->
      <label>Password</label>
      <input type="password" name="password" [(ngModel)]="password" placeholder="Enter password" required />

      <!-- Confirm Password (only for register) -->
      <div *ngIf="!isLoginMode">
        <label>Confirm Password</label>
        <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirm password" required />
      </div>

      <!-- Action -->
      <button type="submit" class="btn-primary">
        {{ isLoginMode ? 'Login' : 'Register' }}
      </button>
    </form>

    <!-- Toggle link -->
    <p class="toggle-text">
      {{ isLoginMode ? "Don't have an account?" : "Already have an account?" }}
      <a (click)="switchMode()">
        {{ isLoginMode ? "Register" : "Login" }}
      </a>
    </p>
  </div>
</div>
